.about-wrapper {
    display: flex;
    justify-content: space-between;

    .image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;

        img {
            width: 799px;
            height: 864px;
        }
    }

    .bio-wrapper {
        display: flex;
        margin-right: 50px;
    }
}